{% comment %} <script>
    alertify.set('notifier','position','top-right');
    {% for flashmeg in messages %}
        {% if 'success' in flashmeg.tags %}
            alertify.success('{{flashmeg.message|escapejs}}');
        {% elif 'error' in flashmeg.tags %}
            alertify.error('{{flashmeg.message|escapejs}}');
        {% elif 'warning' in flashmeg.tags %}
            alertify.warnign('{{flashmeg.message|escapejs}}');
        {% endif %}
    {% endfor %}
</script> {% endcomment %}
<style>
    .alertify-notifier .ajs-message.ajs-success {
        background: #28a745;
        color: white;
        font-weight: bold;
    }

    .alertify-notifier .ajs-message.ajs-error {
        background: #dc3545;
        color: white;
        font-weight: bold;
    }

    .alertify-notifier .ajs-message.ajs-warning {
        background: #ffc107;
        color: black;
        font-weight: bold;
    }
</style>
<script>
    alertify.set('notifier', 'position', 'top-right');

    {% for flashmeg in messages %}
        {% if 'success' in flashmeg.tags %}
            alertify.success("{{ flashmeg.message|escapejs }}");
        {% elif 'error' in flashmeg.tags %}
            alertify.error("{{ flashmeg.message|escapejs }}");
        {% elif 'warning' in flashmeg.tags %}
            alertify.warning("{{ flashmeg.message|escapejs }}");
        {% else %}
            alertify.message("{{ flashmeg.message|escapejs }}");
        {% endif %}
    {% endfor %}
</script>