# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
*.mo
db.sqlite3
db.sqlite3-journal
media/
static/

# Django migrations (optionnel si tu veux les régénérer à chaque fois)
# attention : si tu travailles en équipe, il vaut mieux garder les migrations !
#migrations/

# Environnements
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

school/settings.py

# VS Code / IDE
.vscode/
.idea/

# Systèmes
.DS_Store
Thumbs.db

# Coverage / Tests
.coverage
.tox/
htmlcov/
pytest_cache/
