{% extends 'tenant_folder/base.html' %}
{% load static %}
{% block title %} RH - Détails de l'employe(e) {% endblock title %}

{% block content %}
<style>
    label{
        font-weight : 600;
    }
</style>
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Détails de l'employe(e)</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ressource Humaines</a></li>
                                        <li class="breadcrumb-item active">Détails de l'employe(e)</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0"><i>{{employe.get_civilite_display}} {{employe.nom}} {{employe.prenom}}</i></h5>
                                        <input type="hidden" value="{{employe.id}}" id="id_employe"/>
                                        <div class="d-flex">
                                            {% if not employe.has_contract %}
                                            <button id="addBtn" href="#" class="btn btn-success btn-sm me-2"> <i class="mdi mdi-plus"></i> Crée un contrat</button>
                                            {% endif %}
                                            <a style="margin-right:3px;" href="#" class="btn btn-warning btn-sm me-2 "> <i class="mdi mdi-pen"></i> Modifier</a>
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle btn-sm me-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-printer"></i> Impression 
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    {% if employe.has_contract %}
                                                        <a class="dropdown-item" href="{% url 't_rh:view_contrat' pk=employe.id %}" target="_blank">Contrat de travail</a>
                                                        <a class="dropdown-item" href="#">Attestion de travail</a>
                                                        <a class="dropdown-item" href="#">Badge</a> 
                                                    {% else  %}
                                                    <a class="dropdown-item" href="#">Aucun etat d'impression disponible ! veuillez crée un contrat</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                    
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <label for="sexe">Sexe :</label>
                                            <p class="text-muted" id="sex">{{employe.get_sexe_display}}</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="date_naissance">Date de naissance :</label>
                                            <p class="text-muted" id="date_naissance">{{employe.date_naissance}}</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="lieu_naissance">Lieu de naissance :</label>
                                            <p class="text-muted" id="lieu_naissance">{{employe.lieu_naissance}}</p>
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="groupe_sanguin">Groupe sanguin :</label>
                                            <p class="text-muted" id="groupe_sanguin">{{employe.groupe_sanguin}}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="email">Email:</label>
                                            <p class="text-muted" id="email">{{employe.email}}</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="telephone">N° Téléphone :</label>
                                            <p class="text-muted" id="telephone">{{employe.telephone}}</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <label for="adresse">Adresse :</label>
                                            <p class="text-muted" id="adresse">{{employe.adresse}}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title"><h5>Historique des contrats</h5></div>
                            </div>
                            <div class="card-body">
                                
                                    <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Date d'ambauche</th>
                                                <th>Type contrat</th>
                                                <th>Poste</th>
                                                <th>Durée du contrat</th>
                                                <th>Crée le</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listItem">

                                            
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
        </div>

        <div id="newContratModal" class="modal fade" tabindex="-1" aria-labelledby="newContratModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newContratModalLabel">Création d'un nouveau contrat</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <label for="entite_legal" class="form-label" ><strong>Employeur :</strong></label>  
                                <select id="entite_legal" name="entite_legal" class='form-control'>
    
                                </select>
                            </div>
    
                            <div class="col-lg-3 mb-3">
                                <label for="categorie_contrat" class="form-label"><strong>Catégorie de contrat :</strong></label>  
                                <select id="categorie_contrat" name="categorie_contrat" class='form-control'>
    
                                </select>
                            </div>
    
                            <div class="col-lg-3 mb-3">
                                <label for="type_contrat" class="form-label"><strong>Type de contrat :</strong></label>  
                                <select id="type_contrat" name="type_contrat" class='form-control'>
    
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <label for="duree_contrat" class="form-label"> Durée (Durée du contrat): </label>
                                <input required type="text" id="duree_contrat" class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="services" class="form-label">Service : </label>
                                <select id='services' name="services" class="form-control" >

                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="posts" class="form-label">Poste : </label>
                                <select id='posts' name="posts" class="form-control" >
                                    
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <label for="data_embauche" class="form-label"> Date de recrutement : </label>
                                <input type="date" id="date_embauche" class="form-control" />
                            </div>
                            <div class="col-lg-4">
                                <label for="periode_essaie" class="form-label"> Période d'essai ? : </label>
                                <select id="periode_essaie" class="form-control" >
                                    <option value="0" > Non </option>
                                    <option value="1" > Oui </option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="duree_essaie" class="form-label"> Durée (Durée de la période d'essai): </label>
                                <input type="text" id="duree_essaie" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <label for="contenu"><strong>Contenu : </strong></label>
                            <textarea class="form-control" rows="10" name="contenu" id="contenu"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer add-btns">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                        <button id="confirmBtn" class="btn btn-primary">Confirmer</a>
                    </div>
        
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="detailsContratModal" class="modal fade" tabindex="-1" aria-labelledby="detailsContratModal" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsContratModal">Détails du contrat</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-3 mb-3">
                                <label for="d_entite_legal" class="form-label" ><strong>Employeur :</strong></label>  
                                <input disabled type="text" class="form-control" id="d_entite_legal" />
                            </div>
    
                            <div class="col-lg-3 mb-3">
                                <label for="d_categorie_contrat" class="form-label"><strong>Catégorie de contrat :</strong></label>  
                                <input disabled type="text" id="d_categorie_contrat" class="form-control" />
                            </div>
    
                            <div class="col-lg-3 mb-3">
                                <label for="d_type_contrat" class="form-label"><strong>Type de contrat :</strong></label>  
                                <input disabled type="text" id="d_type_contrat" class="form-control" />
                            </div>

                            <div class="col-lg-3">
                                <label for="d_duree_contrat" class="form-label"> Durée (Durée du contrat): </label>
                                <input disabled type="text" id="d_duree_contrat" class="form-control" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label for="d_services" class="form-label">Service : </label>
                                <input disabled type="text" id="d_services" class="form-control">
                            </div>
                            <div class="col-lg-6">
                                <label for="posts" class="form-label">Poste : </label>
                                <input disabled type="text" id="d_posts" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <label for="d_data_embauche" class="form-label"> Date de recrutement : </label>
                                <input disabled type="text" id="d_date_embauche" class="form-control" />
                            </div>
                            <div class="col-lg-4">
                                <label for="periode_essaie" class="form-label"> Période d'essai ? : </label>
                                <select id="periode_essaie" class="form-control" >
                                    <option value="0" > Non </option>
                                    <option value="1" > Oui </option>
                                </select>
                            </div>
                            <div class="col-lg-4">
                                <label for="duree_essaie" class="form-label"> Durée (Durée de la période d'essai): </label>
                                <input type="text" id="duree_essaie" class="form-control" />
                            </div>
                        </div>

                       
                    </div>
                    <div class="modal-footer add-btns">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                        <button id="confirmBtn" class="btn btn-primary">Confirmer</a>
                    </div>
        
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



<script>
    $(document).ready(function(){
        var id_employe = document.getElementById('id_employe').value;
        document.getElementById('duree_essaie').disabled = true;
        $('#periode_essaie').val('0');

        $('#periode_essaie').change(function(){
            var periode_essaie = $(this).val();
            if (periode_essaie === "1"){
                document.getElementById('duree_essaie').disabled = false;
            }else{
                $('#duree_essaie').val("");
                document.getElementById('duree_essaie').disabled = true;
            }
        })

        $(document).on('click', '#addBtn', function(){
            $.ajax({
                url :"{% url 't_rh:ApiGetDefaultValueForContrat' %}",
                dataType: "JSON",
                type : "GET",
                success: function(data){
                    var entrepriseOptions = "<option value='0'> ----------------- </option>";
                    var serviceOptions = "<option value='0'> ----------------- </option>";
                    var postsOptions = "<option value='0'> ----------------- </option>";

                    // Remplir la liste des entreprises
                    $.each(data.entreprises, function(index, entreprise){
                        entrepriseOptions += "<option value='"+entreprise.id+"'>"+entreprise.designation+"</option>";
                    });

                    // Remplir la liste des services
                    $.each(data.services, function(index, service){
                        serviceOptions += "<option value='"+service.id+"'>"+service.label+"</option>";
                    });

                    // Remplir la liste des services
                    $.each(data.postes, function(index, poste){
                        postsOptions += "<option value='"+poste.id+"'>"+poste.label+"</option>";
                    });

                    // Affecter les options aux <select>
                    $('#entite_legal').html(entrepriseOptions);
                    $('#services').html(serviceOptions);
                    $('#posts').html(postsOptions);

                            $('#entite_legal').html(row);
                        }
                    });
            $('#newContratModal').modal('show');
        });

        $('#entite_legal').change(function(){
            var id_entite = $(this).val();
            if(id_entite){
                $.ajax({
                    url : "{% url 't_rh:ApiGetCategorieContrat' %}",
                    dataType : "JSON",
                    type: 'GET',
                    data : {'id_entite' : id_entite},
                    success : function(data){
                        var categorie_contrat = $('#categorie_contrat');
                        categorie_contrat.empty();
                        categorie_contrat.append('<option value="">Sélectionner une categorie de contrat</option>');
                        $.each(data, function(index, item) {
                            categorie_contrat.append('<option value="' + item.id + '">' + item.label + '</option>');
                        });
                    }
                });
            }else{
                $('#categorie_contrat').empty();
                $('#categorie_contrat').append('<option value="">Sélectionner une categorie de contrat</option>');
            }
            
        });

        $('#categorie_contrat').change(function(){
            var id_categorie = $(this).val();
            if(id_categorie){
                $.ajax({
                    url : "{% url 't_rh:ApiGetTypeContrat' %}",
                    dataType : "JSON",
                    type: 'GET',
                    data : {'id_categorie' : id_categorie},
                    success : function(data){
                        var type_contrat = $('#type_contrat');
                        type_contrat.empty();
                        type_contrat.append('<option value="">Sélectionner une categorie de contrat</option>');
                        $.each(data, function(index, item) {
                            type_contrat.append('<option value="' + item.id + '">' + item.label + '</option>');
                        });
                    }
                });
            }else{
                $('#type_contrat').empty();
                $('#type_contrat').append('<option value="">Sélectionner une categorie de contrat</option>');
            }
            
        });

        $(document).on('click', '#confirmBtn', function(){
            var type_contrat = document.getElementById('type_contrat').value;
            var service = document.getElementById('services').value;
            var posts = document.getElementById('posts').value;
            var date_embauche = document.getElementById('date_embauche').value;
            var periode_essaie = document.getElementById('periode_essaie').value;
            var duree_essaie = document.getElementById('duree_essaie').value;
            var duree_contrat = document.getElementById('duree_contrat').value;

            if (type_contrat && date_embauche && service && posts && duree_contrat){
                if (periode_essaie == "1" && duree_essaie == ""){
                    alertify.error("La période d'essaie est activé, veuillez remplir le champs durée période d'essai");
                }else{
                    $.ajax({
                        url :"{% url 't_rh:ApiCreateContrat' %}",
                        dataType: "JSON",
                        type : "POST",
                        data : {
                            'id_employe' : id_employe,
                            'service' : service,
                            'posts' : posts,
                            'date_embauche' : date_embauche,
                            'periode_essaie' : periode_essaie,
                            'duree_essaie' : duree_essaie,
                            'duree_contrat' : duree_contrat,
                            'type_contrat' : type_contrat,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success : function(response){
                            if (response.status == "success"){
                                alertify.success(response.message);
                                var url = "{% url 't_rh:detailsEmploye' pk=0 %}"
                                window.location.href= url.replace('0', id_employe);
                            }else{
                                alertify.error(response.message);
                            }
                        }
                    });
                }
            }else{
                alertify.error("Veuillez saisir tous les champs requis")
            }

        });

        function loadContrats(){
            $.ajax({
                url :"{% url 't_rh:ApiGetListContratForEmploye' %}",
                dataType: 'JSON',
                type : 'GET',
                data: {
                    'id_employe' : id_employe,
                },
                success : function(data){
                    var row = "";
                    if (data.length > 0){
                        $.each(data, function(index, p){
                            row += "<tr>";
                            row += "<td>"+p.date_embauche+"</td>";
                            row += "<td>"+p.type_contrat__label+"</td>";
                            row += "<td>"+p.poste__label+"</td>";
                            row += "<td>"+p.duree+"</td>";
                            row += "<td>"+p.created_at.split('T')[0]+"</td>";
                            row += '<td>';
                                row += '<div class="dropdown d-inline-block">';
                                    row += '<button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">';
                                        row += '<i class="ri-more-fill align-middle"></i>';
                                    row += '</button>';
                                    row += '<ul class="dropdown-menu dropdown-menu-end">';
                                        row += '<li><button id="detailsContratBtn" data-id='+p.id+' class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i>Détails</button></li>';
                                        row += '<li><button id="updateBtn" data-id='+p.id+' data-titre="'+p.label+'" data-contenu="'+p.description+'" class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Modifier</button></li>';
                                        row += '<li>';
                                            row += '<button id="deleteBtn" data-id='+p.id+' class="dropdown-item remove-item-btn">';
                                                row += '<i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Supprimer';
                                            row += '</button>';
                                        row += '</li>';
                                    row += '</ul>';
                               row += ' </div>';
                            row += '</td>';
                            row += "</tr>";
                        });
                    }else{
                        row += "<tr><td colpspan='5' class='text-center text-muted'>Aucune données disponible ! </td></tr>";
                    }

                    $('#listItem').html(row);
                }

            });
        }

        loadContrats();

        $(document).on('click', '#detailsContratBtn', function(){

            var id_contrat = $(this).data('id');

            $.ajax({
                url : '{% url "t_rh:ApiGetDetailsOfContract" %}',
                dataType : 'JSON',
                type : 'GET',
                data : {'id' : id_contrat},
                success : function(data){
                    $('#d_entite_legal').val(data.employeur);
                    $('#d_categorie_contrat').val(data.categorie_contrat);
                    $('#d_type_contrat').val(data.type_contrat);
                    $('#d_duree_contrat').val(data.duree);
                    $('#d_services').val(data.service);
                    $('#d_posts').val(data.poste);
                    $('#d_date_embauche').val(data.date_embauche);
                    $('#detailsContratModal').modal('show');
                    
                }
            });

            
        }); 
    });
</script>
{% endblock content %}
           



    