{% extends 'tenant_folder/base.html' %}
{% block title %} Formation - Nouvelle spécialitée {% endblock title %}
{% block content %}

<!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Nouveau Employe(e)</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ressources Humaines</a></li>
                                        <li class="breadcrumb-item active">Nouveau Employe(e)</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form method='POST'>
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <input type="submit" class="btn btn-warning" value="Enregistrer les modifications">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->    
                </div> <!-- container-fluid -->
            </div><!-- End Page-content -->

{% endblock content %}