{% extends 'tenant_folder/base.html' %}


{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                {% if form.instance.pk %}Modifier{% else %}Nouveau{% endif %} Contrat
                            </h4>
                        </div>
                        <div class="card-body">
                            {% include 't_ressource_humaine/_contrat_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
