{% extends 'tenant_folder/base.html' %}
{% block title %} CRM - Détails du visiteur {% endblock title %}
{% block content %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Détails du visiteur</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">CRM</a></li>
                                <li class="breadcrumb-item active">Détails du visiteur</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0"><i>{{obj.nom}} {{obj.prenom}}</i></h5>
                            <a href={% url 't_crm:ConfirmeDemandeInscription' obj.id %}  class="btn btn-primary btn-sm float-end">
                                <i class="mdi mdi-check"></i> Confirmer la demande
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Nom & Prénom</strong></label>
                                    <p class="text-muted">{{obj.nom}} {{obj.prenom}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Date de naissance</strong></label>
                                    <p class="text-muted">{{obj.date_naissance}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Lieux de naissance</strong></label>
                                    <p class="text-muted">{{obj.lieu_naissance}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="nom"><strong>N° Identification National</strong></label>
                                    <p class="text-muted">{{obj.cin}}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <label for="nom"><strong>Email</strong></label>
                                    <p class="text-muted">{{obj.email}}</p>
                                </div>
                                <div class="col-lg-6">
                                    <label for="nom"><strong>N° Téléphone</strong></label>
                                    <p class="text-muted">{{obj.telephone}}</p>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-6">
                                    <label for="nom"><strong>Adresse</strong></label>
                                    <p class="text-muted">{{obj.adresse}}</p>
                                </div>
                                <div class="col-lg-6">
                                    <label for="nom"><strong>Pays</strong></label>
                                    <p class="text-muted">{{obj.get_pays_display}}</p>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Niveau d'étude</strong></label>
                                    <p class="text-muted">{{obj.get_niveau_etude_display}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Situation professionnelle</strong></label>
                                    <p class="text-muted">{{obj.get_situation_professionnelle_display}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Entreprise</strong></label>
                                    <p class="text-muted">{{obj.entreprise}}</p>
                                </div>
                                <div class="col-lg-3">
                                    <label for="nom"><strong>Poste</strong></label>
                                    <p class="text-muted">{{obj.post_occupe}}</p>
                                </div>
                            </div>
                            
                            
                            type_visiteur
                            
                            
                            situation_family
                        
                        </div>
                        <div class="card-footer">
                            <a href={% url 't_crm:liste_visiteurs' %} class="btn btn-secondary btn-sm">
                                <i class="mdi mdi-arrow-left"></i> Retour
                            </a>  
                            <a href={% url 't_crm:updateVisiteur' obj.id %} class="btn btn-warning btn-sm">
                                <i class="mdi mdi-pen"></i> Modifier
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Demande d'inscription</h5>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>

{% endblock content %}