{% extends 'tenant_folder/base.html' %}
{% load static %}
{% block content %}
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- Breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Liste des étudiants de chaque tenant</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Tous les étudiants</h5>
                        </div>
                        <div class="card-body">
                            <table id="etudiantsTable" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Institut</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th>Téléphone</th>
                                        <th>Date d'inscription</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for etu in etudiants %}
                                    <tr>
                                        <td>{{ etu.tenant_nom }}</td>
                                        <td>{{ etu.nom }}</td>
                                        <td>{{ etu.prenom }}</td>
                                        <td>{{ etu.email }}</td>
                                        <td>{{ etu.telephone }}</td>
                                        <td>{{ etu.date_inscription|date:"d/m/Y H:i" }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script>
    $(document).ready(function() {
        $('#etudiantsTable').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.24/i18n/French.json"
            }
        });
    });
</script>
{% endblock %}
