{# templates/two_factor/core/login.html #}
{% extends "two_factor/_base.html" %}
{% load i18n %}

{% block content %}
  <h2>{% trans "Connexion avec 2FA" %}</h2>

  <form method="post" novalidate>
    {% csrf_token %}

    {{ wizard.management_form }}

    
    {{ form.non_field_errors }}
    {{ form}}

    <button type="submit">{% trans "Continuer" %}</button>
  </form>

  {# Optionnel : lister les autres devices de secours proposés par le login #}
  {% if other_devices %}
    <h3>{% trans "Ou utiliser un appareil de secours" %}</h3>
    <ul>
      {% for device in other_devices %}
        <li>
          <a href="?device={{ device.persistent_id }}">{{ device }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
