{% extends "two_factor/_base.html" %}
{% block title %}QR Code{% endblock %}
{% block content %}
  <h2 class="auth-header">Scannez ce QR Code</h2>
  <p class="confirmation-message">Scannez ce QR Code avec votre application d'authentification, puis entrez le code généré pour confirmer.</p>
  <div class="qr-code-container">
      {{ qr_code }}
  </div>
  <form method="post" class="auth-form">
      {% csrf_token %}
      <div class="form-group">
          {{ form.token.label_tag }}
          {{ form.token }}
          {% if form.token.errors %}
              <div class="alert alert-error">
                  {{ form.token.errors }}
              </div>
          {% endif %}
      </div>
      <button type="submit" class="btn btn-primary btn-block">Valider</button>
  </form>
{% endblock %}
